<div id="content">

  <div id="image">
    <span></span>
    <span></span>
    <h2>Sobre nós</h2>
    <span></span>
  </div>

  <div id="subcontent">
    
      <h3>Cartão de vantagens:<br>como você ajuda o próximo tendo inúmeros descontos</h3>
      <p>A conta descrita acima, a princípio, pode soar estranha. Para colaborar com um trabalho social, deveríamos ter que dispor de algo: tempo, dinheiro, roupas, alimentos, etc. 
        Para ter acesso a benefícios, como nos demais variados serviços de saúde, viagens e compras, alguns podem pensar que seria necessário um verdadeiro sacrifício. Mas, com criatividade e vontade de fazer a diferença, conseguimos mudar isso.</p>
      <p>O Clube Paixão Pela Vida alia a solidariedade de um trabalho social a esses benefícios aos seus associados por meio de um cartão de vantagens. Não tem muito segredo. Já foi comprar algo com a turma de amigos e, como eram muitos compradores acabou ganhando um desconto do vendedor? Então, é isso que nós fazemos.</p>
      <p>Temos parcerias com vários estabelecimentos, como clínicas, hospitais, farmácias, laboratórios, comércios em geral, rede de cinema, hotéis e resorts. Para ter mais clientes, esses parceiros conseguem nos oferecer descontos. Quanto mais pessoas usam esses serviços, maiores são os descontos.</p>
      <p>Além disso, por meio da seguradora Liberty, nossos associados de até 70 anos, contam com seguro de vida por morte acidental, auxílio funeral para família e quatro sorteios mensais de  R$5.000,00. </p>
      <p>Com a mensalidade paga pelos benefícios do cartão, apenas R$24,99 no plano individual e R$ 49,90 no familiar, custeamos todas as despesas de alimentação de administração do serviço e destinamos o restante para a obra social da Casa Paixão Pela Vida.</p>
      <p>Além disso, com o aumento constante da nossa rede do bem, as empresas parceiras conseguem oferecer gratuidades para os nossos pacientes da Casa Paixão Pela Vida. </p>
      <h3>Com o Clube Paixão Pela Vida é assim: sua <b>saúde</b>, nossa <b>paixão</b>.</h3>

  </div>

</div>