<mat-toolbar [class.mat-elevation-z8]>
  <img src="assets/newtabicon.svg" alt="">
  <span class="spacer"></span>
  <button mat-button class="desktopmenu" routerLink="">Início</button>
  <button mat-button class="desktopmenu" routerLink="about">Sobre nós</button>
  <button mat-button class="desktopmenu" routerLink="magazine">Revista</button>
  <button mat-button class="desktopmenu" routerLink="cupons">Descontos</button>
  <button mat-raised-button class="desktopmenu" routerLink="profile">ENTRAR</button>
  <button mat-raised-button class="desktopmenu" routerLink="profile">SOLICITAR CARTÃO</button>
  <button mat-mini-fab class="mobilemenu" (click)="openBottomSheet()">
      <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
  </button>
</mat-toolbar>