<div class="main">
 <div class="content">
   <p>Peça já</p>
   <p>seu</p><p>cartão</p><br>
   <button mat-raised-button>SOLICITE AQUI</button>
 </div>
</div>

<div class="descontos">
  <span></span>
  <div>
    <div class="header">
      <h2>Você vai se apaixonar</h2>
      <h2>pelos descontos!</h2>
    </div>

    <div class="content">
      <div class="images">
        <div>
          <img src="assets/home-descontos/medicos@2x.png" alt="">
          <img src="assets/home-descontos/desc50.png" alt="">
        </div>
        <div>
          <img src="assets/home-descontos/clinlab@2x.png" alt="">
          <img src="assets/home-descontos/desc70.png" alt="">
        </div>
        <div>
          <img src="assets/home-descontos/farmacias@2x.png" alt="">
          <img src="assets/home-descontos/desc90.png" alt="">
        </div>
        <div>
          <img src="assets/home-descontos/comercios@2x.png" alt="">
          <img src="assets/home-descontos/desc50.png" alt="">
        </div>
        <div>
          <img src="assets/home-descontos/lazer@2x.png" alt="">
          <img src="assets/home-descontos/desc50.png" alt="">
        </div>
      </div>
      <div class="labels">
        <p>Médicos</p>
        <p>Clínicas e Laboratórios</p>
        <p>Farmácias</p>
        <p>Comércios</p>
        <p>Lazer</p>
      </div >
      <div class="botao">
          <button routerLink="cupons" mat-raised-button>LISTA DE VANTAGENS</button>
      </div>
    </div>

  </div>
  <span></span>
</div>

<div class="vantagens">
  <span></span>
  <div class="content">
    <div class="header">
      <h2>Outras</h2>
      <h2>vantagens</h2>
    </div>
    <div class="items">
      <div class="icons">
        <div id="item">
            <img src="assets/home-vantagens/seguro@2x.png" alt="">
        </div>
        <div id="item">
            <img src="assets/home-vantagens/auxilio@2x.png" alt="">
        </div>
        <div id="item">
            <img src="assets/home-vantagens/sorteio@2x.png" alt="">
        </div>
      </div>
      <div class="labels">
        <p>Seguro de vida</p>
        <p>Auxílio funeral</p>
        <p>Sorteios mensais<br>de R$ 5 mil</p>
      </div>
    </div>
    <div class="botao">
      <button mat-raised-button>SAIBA MAIS</button>
    </div>
  </div>
  <span></span>
</div>

<div class="sobre">
  <span></span>
  <div class="content">
    <img src="assets/home-sobre/logocasa.svg" alt="">
    <div>
      <p>Além de oferecer descontos aos seus associados, o cartão de vantagens <b>ajuda a manter a Casa Paixão Pela Vida.</b></p>
      <p>A instituição filantrópica não tem fins lucrativos e foi fundada em 2009 para amparar pacientes que fazem tratamento contra o câncer na cidade de Piracanjuba-GO e região.</p>
      <p>Ciente da carência da saúde pública, a entidade também abraça outros projetos sociais, destinados à população de baixa renda.</p>
    </div>
    <div class="botao">
        <button mat-raised-button>SAIBA MAIS</button>
    </div>
  </div>
  <span></span>
</div>

<div class="footer">
  <div class="content">
    <div>
      <img src="assets/logofooter.svg" alt="">
    </div>
    <span></span>
    <div>
      <p id="title">Entre em contato:</p>
      <div>
        <div class="phoneitem"><i class="material-icons">phone</i><p>(62) 3432-8799</p></div>
        <div class="phoneitem"><i class="material-icons">phone</i><p>(64) 99323-4616</p></div>
        <div class="phoneitem"><i class="material-icons">phone</i><p>(64) 3405-2293</p></div>
      </div>
    </div>
    <span></span>
    <div>
      <p>acompanhe nosso trabalho</p>
      <div>

      </div>
    </div>
  </div>
  <p id="copystatement">Clube Paixão Pela Vida © 2019 Todos os direitos reservados. Desenvolvido por <a href="https://www.mribeiro.com.br">MRibeiro</a>.</p>
</div>