<mat-progress-bar *ngIf="loading" id="progressbar" mode="indeterminate"></mat-progress-bar>
<div id="content">
  <span></span>
  <mat-card>
    <mat-card-title>Peça o seu cartão!</mat-card-title>
    <mat-card-subtitle>Preencha o formulário abaixo e se torne um associado!<br>Após a confirmação do pagamento o seu cartão chegará na sua casa.<br><br>Campos marcados com * são obrigatórios.</mat-card-subtitle>
    <mat-card-content>
      <br>
      <form class="example-form" [formGroup]="mForm" (ngSubmit)="sendForm(mForm.value)">
        <p>Dados pessoais</p>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Primeiro nome</mat-label>
          <input matInput required formControlName="primeiroNome">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Sobrenome</mat-label>
          <input matInput required formControlName="sobrenome">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" placeholder="Use somente números, sem pontuações ou caracteres especiais" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>RG</mat-label>
          <input matInput formControlName="rg" placeholder="Use somente números, sem pontuações ou caracteres especiais" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Órgão expedidor</mat-label>
          <mat-select formControlName="orgaoExpedidor" required>
            <mat-option value="SSP">SSP - Secretaria de Segurança Pública</mat-option>
            <mat-option value="PM">PM - Polícia Militar</mat-option>
            <mat-option value="PC">PC - Policia Civil</mat-option>
            <mat-option value="CNT">CNT - Carteira Nacional de Habilitação</mat-option>
            <mat-option value="DIC">DIC - Diretoria de Identificação Civil</mat-option>
            <mat-option value="CTPS">CTPS - Carteira de Trabaho e Previdência Social</mat-option>
            <mat-option value="FGTS">FGTS - Fundo de Garantia do Tempo de Serviço</mat-option>
            <mat-option value="IFP">IFP - Instituto Félix Pacheco</mat-option>
            <mat-option value="IPF">IPF - Instituto Pereira Faustino</mat-option>
            <mat-option value="IML">IML - Instituto Médico-Legal</mat-option>
            <mat-option value="MTE">MTE - Ministério do Trabalho e Emprego</mat-option>
            <mat-option value="MMA">MMA - Ministério da Marinha</mat-option>
            <mat-option value="MAE">MAE - Ministério da Aeronáutica</mat-option>
            <mat-option value="MEX">MEX - Ministério do Exército</mat-option>
            <mat-option value="POF">POF - Polícia Federal</mat-option>
            <mat-option value="POM">POM - Polícia Militar</mat-option>
            <mat-option value="SES">SES - Carteira de Estrangeiro</mat-option>
            <mat-option value="SJS">SJS - Secretaria da Justiça e Segurança</mat-option>
            <mat-option value="SJTS">SJTS - Secretaria da Justiça do Trabalho e Segurança</mat-option>
            <mat-option value="O">Outros</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Grau de instrução</mat-label>
          <mat-select formControlName="grauDeInstituicao" required>
            <mat-option value="Analfabeto">Analfabeto</mat-option>
            <mat-option value="Ensino fundamental incompleto">Ensino fundamental incompleto</mat-option>
            <mat-option value="Ensino fundamental completo">Ensino fundamental completo</mat-option>
            <mat-option value="Ensino médio incompleto">Ensino médio incompleto</mat-option>
            <mat-option value="Ensino médio completo">Ensino médio completo</mat-option>
            <mat-option value="Superior incompleto">Superior incompleto</mat-option>
            <mat-option value="Superior completo">Superior completo</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Nome do pai</mat-label>
          <input matInput placeholder="Digite o nome completo do seu pai" formControlName="nomePai">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Nome da mãe</mat-label>
            <input matInput placeholder="Digite o nome completo da sua mãe" formControlName="nomeMae">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Data de nascimento</mat-label>
          <input matInput [matDatepicker]="picker" required formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Sexo</mat-label>
          <mat-select required formControlName="sexo">
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Feminino</mat-option>
            <mat-option value="N">Prefiro não responder</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Estado civil</mat-label>
          <mat-select required formControlName="estadoCivil">
            <mat-option value="Solteiro">Solteiro</mat-option>
            <mat-option value="Casado">Casado</mat-option>
            <mat-option value="Separado">Separado</mat-option>
            <mat-option value="Divorciado">Divorciado</mat-option>
            <mat-option value="Viuvo">Viúvo</mat-option>
          </mat-select>
        </mat-form-field>
        <br><br>
        <mat-checkbox [ngModelOptions]="{standalone: true}">Plano individual</mat-checkbox>
        <br>
        <mat-checkbox formControlName="familiar" [(ngModel)]="toggle">Plano familiar</mat-checkbox>
        <div *ngIf="toggle">
          <br>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Adicionar dependente
              </mat-expansion-panel-header>
              <div>
                <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="dependenteType">
                  <mat-radio-button value="Cônjuge">Cônjuge</mat-radio-button>
                  <mat-radio-button value="Filho">Filho</mat-radio-button>
                </mat-radio-group>
                <br><br>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Nome completo</mat-label>
                  <input [ngModelOptions]="{standalone: true}" matInput placeholder="Placeholder" [(ngModel)]="dependenteNome" required>
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>CPF</mat-label>
                  <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="dependenteCPF" placeholder="Use somente números, sem pontuações ou caracteres especiais" required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>RG</mat-label>
                  <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="dependenteRG" placeholder="Use somente números, sem pontuações ou caracteres especiais" required>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Data de nascimento</mat-label>
                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="dependenteBirthDate" matInput [matDatepicker]="picker" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Sexo</mat-label>
                  <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="dependenteSexo" required>
                    <mat-option value="M">Masculino</mat-option>
                    <mat-option value="F">Feminino</mat-option>
                    <mat-option value="N">Prefiro não responder</mat-option>
                  </mat-select>
                </mat-form-field>

                <p>*Filhos de até 21 anos e solteiros</p>

                <button mat-button type="button" (click)="addDependente()">Adicionar</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <div *ngIf="dependentes.length > 0">
            <mat-card >
              <mat-card-body>
                <mat-list>
                  <mat-list-item *ngFor="let item of dependentes">
                    <div style="display: flex; width: 100%; align-items: baseline;">
                      <p style="flex: auto;">{{item.nome}} - {{item.parentesco}}</p>
                      <button (click)="deleteDependente(item)" style="flex: 1;" mat-button type="button">Excluir</button>
                    </div>
                  </mat-list-item>
                </mat-list>
              </mat-card-body>
            </mat-card>
          </div>
          
        </div>
        <br><br>
        <p>Endereço</p>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="Use apenas números, sem pontuações ou traços" formControlName="cep" required>
        </mat-form-field>
        <!--Add n and complemento-->
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Logradouro</mat-label>
          <input matInput placeholder="Digite o logradouro, número e complemento" formControlName="logradouro" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Número</mat-label>
          <input type="number" matInput formControlName="number">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Complemento</mat-label>
          <input type="text" matInput formControlName="complemento">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Bairro</mat-label >
          <input matInput required formControlName="bairro">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Cidade</mat-label>
          <mat-select required formControlName="cidade">
            <mat-option *ngFor="let city of cities" value="city">{{city}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br><br>
        <p>Contato</p>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput required formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Telefone fixo</mat-label>
          <input matInput placeholder="Ex: XX XXXXXXXX" formControlName="telefoneFixo">
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Telefone celular</mat-label>
            <input matInput placeholder="Ex: XX XXXXXXXXX" required formControlName="telefoneCelular">
        </mat-form-field>
        <mat-checkbox formControlName="isWhatsapp">O telefone acima também é WhatsApp.</mat-checkbox>
        <br><br>
        <!--Add li and aceito-->
        <mat-checkbox class="example-full-width" formControlName="newsLetterAllowance">Autorizo o envio de material informativo da Paixão pela Vida no meu e-mail.</mat-checkbox>
        <mat-checkbox formControlName="donatorCheckBox" [(ngModel)]="projetoDonator">Eu já sou doador da Casa Paixão pela Vida.</mat-checkbox>
        <div *ngIf="projetoDonator">
          <br>
          <mat-form-field appearance="outline" class="example-full-width" formControlName="projectDonator">
            <mat-label>Qual projeto?</mat-label>
            <input type="text" matInput>
          </mat-form-field>
        </div>
        <br><br>
        <div style="width: 100%; max-height: 150px; overflow: hidden; overflow-y: auto;">
          <p>
            Por meio deste formulário, venho requerer a minha adesão como associado(a), na categoria de sócio aderente, ao CLUBE PAIXÃO PELA VIDA, administrado pela ASSOCIAÇÃO Paixão Pela Vida, CNPJ O11.277.353/0001-50, localizada na cidade de Piracanjuba-GO.
Afirmo ainda serem verdadeiros os dados cadastrais contidos nesta ficha, concordando com as condições do Clube Paixão Pela Vida, um Plano de Vantagens oferecido pela Associação Paixão Pela Vida, estando ciente das cláusulas do contrato cuja cópia li e se encontra disponível neste site, assim como tomei conhecimento que o regulamento do Clube Paixão Pela Vida se encontra impresso e disponível na sede da associação para consulta.
          </p>
        </div>
        <br>
        <mat-checkbox class="example-full-width" required>Li e concordo com os termos acima.</mat-checkbox>
        <br><br>
        <button mat-button [disabled]="!mForm.valid" type="submit">Ir para pagamento</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>