$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

#content {
    padding: 20px;
    
    @include desktop {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
