/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');

html, body {
    background: #f2f2f2;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

button:focus {outline:0;}

@font-face {
    font-family: Dulcelin;
    src: url(assets/fonts/Dulcelin.otf) format("opentype");
  }