<div id="first">
   <div id="firstid">
       <h1>Sua saúde, nossa paixão</h1>
       <div class="socialicons">
        <a href="https://www.facebook.com/paixaopelavidago/" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/paixaopelavidago/" class="fa fa-instagram"></a>
       </div>
   </div>
</div>

<div id="beneficios">
    <div id="header">
        <h1>Benefícios do cartão</h1>
    </div>
    <div id="content">

        <div class="single-beneficio-item">
            <i class="material-icons">healing</i>
            <h3>Médicos</h3>
            <p>50% de desconto</p>
        </div>

        <div class="single-beneficio-item">
            <i class="material-icons">business</i>
            
            <h3>Clinicas e Laboratórios</h3>
            <p>70% de desconto</p>
        </div>

        <div class="single-beneficio-item">
            <i class="material-icons">local_hospital</i>
            <h3>Farmácias</h3>
            <p>90% de desconto</p>
        </div>

        <div class="single-beneficio-item">
            <i class="material-icons">shopping_cart</i>
            <h3>Comércios</h3>
            <p>50% de desconto</p>
        </div>

        <div class="single-beneficio-item">
            <i class="material-icons">directions_run</i>
            <h3>Lazer</h3>
            <p>50% de desconto</p>
        </div>
    </div>
</div>

<div id="pedirCartao">
    <div id="content">
        <h1>Peça já  o seu cartão!</h1>
        <p>Plano individual por R$24,90<br>e planos familiares por R$49,90</p>
        <button mat-raised-button routerLink="pedircartao">Pedir meu cartão</button>
    </div>
    <img src="assets/cartaoClube.png" alt="">
</div>

<div id="buttons">
    <div id="parceiro">
        <h2>Área do parceiro</h2>
        <a href="https://parceiros.clube.paixaopelavida.com.br">
            <button mat-raised-button>Acessar</button>
        </a>
        
    </div>
                
    <div id="associados">
        <h2>Área do associado</h2>
        <button mat-raised-button routerLink="profile">Acessar</button>
    </div>
</div>

<footer>
        <div id="footer-first">
            <p class="title">Ligue:</p>
            <p>(64) 3405-2293<br>(64) 9323-4616 (WhatsApp)<br>(62) 3432-8799</p>
            <p class="title">Endereço</p>
            <p>Rua 20, nº150, Setor Pouso Alto,<br>CEP 75640-000, Piracanjuba-GO, Brasil</p>
        </div>
    
        <div id="footer-second">
            <p>Casa de Apoio Paixão pela Vida © 2018. Desenvolvido por <a href="http://www.mribeiro.com.br">MRibeiro</a>.</p>
        </div>
    </footer>